@mixin wrapperdiv($width, $height) {
  width: $width;
  height: $height;
}

@mixin flexbox($display, $flexdirection, $justify) {
  display: $display;
  flex-direction: $flexdirection;
  justify-content: $justify;
}
