@import "../abstracts/_variables";

#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: $mediumdark;
    text-decoration: none;
  }
  a.router-link-exact-active {
    color: $lightmedium;
  }
}
